<!DOCTYPE html>
<html lang="es">



	<head>
		<meta charset="utf-8" />
		<title>Tobi's Projects | Home</title>
		
		<!-- Google Fonts -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

		<!-- CSS Reset -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
		<!-- Milligram CSS minified -->
		<link rel="stylesheet" href="public/css/vendor/milligram.min.css">
		<!-- site css overrides -->
		<link href="public/css/style.css" rel="stylesheet" type="text/css" />


		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
		<!-- jquery.pin -->
		<script type="text/javascript" src="public/js/vendor/jquery.pin.min.js"></script>
		<!-- site js -->
		<script type="text/javascript" src="public/js/site.js"></script>

	</head>

	<body>
		<div class="container">
			<div class="row">
		
				<header class="column column-25">
					<div class="clavar">
						<nav>
							<h2>Tobi's Projects</h2>
							<ul>
								{% for project in projects %}
								<li>
									<a href="#{{ project.name|replace({' ': '-'})|lower }}" >
										{{ project.name }}
									</a>
								</li>
								{% endfor %}
							</ul>
						</nav>
						<h2>Sobre Mi</h2>
						<p>Soy el Tobem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
					</div>
				</header>

				<section class="main column column-75">
					{% for project in projects %}
						<article id="{{ project.id }}">
							<header>
								<h2 id="{{ project.name|replace({' ':'-'})|lower }}">
									{{ project.name }}
								</h2>
							</header>

							<a target="_BLANK" href="{{ project.url }}">
								<img class="full-width" src="{{ project.covers.original }}">
							</a>

							<footer class="alineado-izq">
								<p>{{ project.owners[0].occupation }} |
								{{ project.owners[0].city }}, {{ project.owners[0].country }}.</p>
							</footer>
						</article>
					{% endfor %}
				</section>
		
			</div> <!-- .row -->

			<!-- <aside class="side col dos">
				<h2>About section</h2>
				<p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
			</aside> -->

			<footer class="row">
				<div class="column copy">
					<p>© 2016 el Tob</p>
				</div>
				<div class="column source alineado-izq">
					<p>El código de esta página está <a target="_BLANK" href="https://github.com/lifofernandez/tobiasweb">acá</a>.</p>
				</div>
				
			</footer>

		</div> <!-- .container -->
	</body>
</html>